# Sekrety i lokalna konfiguracja
.env
.env.*
!.env.example
auth.json

# Zrzuty baz danych i archiwa
*.sql
!docker/mysql/init/*.sql
*.sql.gz
*.zip

# Zależności i pliki generowane
/vendor
/node_modules

# Pliki systemowe i edytorów
*:Zone.Identifier
.DS_Store
/.idea
/.vscode

# Laravel (szkielet)
*.log
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
!.env.production.example
